@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Bioquímia

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #025256;
$secondary_color: #013838;
$tertiary_color: #a3bd31;
$fourth_color: #000;
$background: #efefef;
$border: #013838;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 5px 0;
	background-color: $tertiary_color;
	.moduletable_to11 {
		font-size: 12px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

.top {
	background-color: rgba(2, 82, 86, 0.85);
	position: relative;
	z-index: 2;
	.moduletable_to1 {}
	.moduletable_to2 {
		margin: 20px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 2px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $tertiary_color;
								color: #fff;
							}
							ul.sub-menu {
								a {
									color: #fff;
								}
							}
						}
						a {
							padding: 2px 14px 2px 6px;
							font-size: 12px;
							color: #fff;
							&:hover {
								background-color: $tertiary_color;
								color: #fff;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $tertiary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									color: $tertiary_color;
									z-index: 100;
									&:hover {
										background-color: $tertiary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Logo */

.logo {
	margin-top: -56px;
	background: {
		image: url(logo_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	position: relative;
	z-index: 1;
	.moduletable_lo1 {
		width: 320px;
		height: 142px;
		margin: auto;
		margin-top: 140px;
		margin-bottom: 120px;
		padding: 10px;
		border: 1px solid #fff;
		a {
			background-color: rgba(255, 255, 255, 0.9);
			display: block;
		}
	}
	&.no_home {
		.moduletable_lo1 {
			margin-top: 70px;
			margin-bottom: 16px;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	position: relative;
	z-index: 2;
	h1 {
		width: 400px;
		margin: auto;
		padding: 20px 10px;
		background-color: $tertiary_color;
		font: {
			size: 24px;
			weight: bold;
		}
		color: #fff;
		text-transform: uppercase;
		&.long {
			width: 650px;
		}
	}
	h2 {
		font: {
			size: 18px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $border;
			color: #fff;
		}
	}
	.box_1 {
		background-color: $background;
	}
	.box_2 {
		background-color: $secondary_color;
		color: #fff;
		h2 {
			color: $tertiary_color
		}
	}
	.box_3 {
		background-color: $primary_color;
		color: #fff;
		h2 {
			color: $tertiary_color
		}
	}
	.box_4 {
		background-color: #fff;
	}
}

/* Block 1 */

.block_1 {
	margin-top: -40px;
	position: relative;
	z-index: 2;
	.moduletable_b11 {
		padding: 15px;
		background-color: #fff;
		p {
			margin-bottom: 5px;
			font-size: 18px;
		}
		h3 {
			margin: 0;
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				size: 20px;
				weight: bold;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	margin-top: -90px;
	padding-top: 120px;
	background-color: $background;
	position: relative;
	z-index: 1;
	.moduletable_b21 {
		h3 {
			padding-bottom: 10px;
			background: {
				image: url(block_2_h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				size: 18px;
				weight: bold;
			}
			color: $fourth_color;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		h3 {
			padding-bottom: 10px;
			background: {
				image: url(block_3_h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				size: 18px;
				weight: bold;
			}
			color: $fourth_color;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background: {
		image: url(block_4_bg.png);
		position: top;
		repeat: repeat-x;
	}
	position: relative;
	z-index: 2;
	.moduletable_b41 {
		h3 {
			padding-bottom: 10px;
			background: {
				image: url(block_4_h3_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				size: 18px;
				weight: bold;
			}
			color: $fourth_color;
		}
		.box_top {
			padding: 10px;
			background-color: $secondary_color;
			p {
				margin-bottom: 5px;
				a {
					color: #fff;
				}
			}
		}
		.box_bottom {
			padding: 10px;
			background-color: #fff;
		}
	}
}

/* Bottom */

.bottom {
	/*margin-top: -60px;*/
	/*padding-top: 50px;*/
	padding: 20px 0;
	background-color: $primary_color;
	position: relative;
	z-index: 1;
	.moduletable_bo1 {
		font-size: 12px;
		color: #fff;
		a {
			color: #fff;
			&.button {
				border-color: $tertiary_color;
				border-radius: 0;
				color: $tertiary_color;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 20px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}